<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Memory Game | Cerebrum</title>
    <link rel="stylesheet" href="../public/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/app.css" type="text/css" />
    <script type="text/javascript" src="../public/app.js?v=1.0.0"></script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2611250535536182"
      crossorigin="anonymous"></script>
    <script type="text/javascript">document.oncontextmenu=function(e){return!1},document.onkeydown=function(e){return 123!=event.keyCode&&((!e.ctrlKey||!e.shiftKey||e.keyCode!="I".charCodeAt(0))&&((!e.ctrlKey||!e.shiftKey||e.keyCode!="C".charCodeAt(0))&&((!e.ctrlKey||!e.shiftKey||e.keyCode!="J".charCodeAt(0))&&((!e.ctrlKey||e.keyCode!="U".charCodeAt(0))&&void 0))))};</script>
  </head>
  <body oncontextmenu="return false">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
      <div class="container-fluid">
        <a href="/" class="navbar-brand mr-3"
          ><i class="fa fa-brain"></i> Cerebrum</a
        >
        <div class="navbar-nav ml-auto">
          <span id="user" class="nav-item nav-link active"
            ><i class="fa fa-user-circle"></i> <%= username %></span
          >
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="card d-none" id="playground">
        <div class="card-header">
          <div class="row">
            <div class="col-8">
              <form id="form_record" class="form-inline" method="POST">
                <div class="form-group mx-sm-3 mb-2 mr-2">
                  <select
                    class="form-control form-control-sm"
                    id="size"
                    name="size"
                    onchange="initBoard()"
                  >
                    <option value="" disabled>
                      Select Grid
                    </option>
                    <option value="3" selected>3 X 3</option>
                    <option value="4">4 X 4</option>
                    <option value="6">6 X 6</option>
                    <option value="8">8 X 8</option>
                  </select>
                </div>
                <div class="d-grid gap-2">
                  <button
                  type="button"
                  id="btn_restart"
                  class="btn btn-outline-info btn-sm mb-2"
                  onclick="initBoard()"
                  disabled
                  >
                    Restart
                  </button>
                  <input
                    type="hidden"
                    id="form_user"
                    name="userId"
                    value="<%= userId %>"
                  />
                </div>
              </form>
            </div>
            <div class="col-4">
              <p class="text">Best: <span id="record"></span></p>
              <span id="timer">0 mins 0 secs</span> | 
              <span>
                <span id="move">0</span> moves |
                <span id="rating"
                  ><i class="far fa-star"></i><i class="far fa-star"></i
                  ><i class="far fa-star"></i
                ></span>
              </span>
            </div>
          </div>
        </div>
        <div class="card-body bg-dark mx-auto" id="board">
          <!-- <% for(let i=0; i < 9; i++) { %>
                <button class="tile btn btn-secondary" data="<%= i %>" id="show_<%= i %>"><i id="icon_<%= i %>"
                        class="d-none fa fa-play fa-2x"></i></button>
                <% } %> -->
        </div>
        <div class="card-footer">
          <p>
            <ul class="font-italic">
              <li>Start the game by flipping a card.</li>
              <li>There are always two card with identical symbol.</li>
              <li>Try to find another card that has the same symbol.</li>
            </ul>
          </p>
        </div>
        <div class="popup" id="popup">
          <div class="overlay"></div>
          <div class="content">
            <button
              class="btn btn-secondary btn_close"
              onclick="document.getElementById('popup').classList.toggle('active');"
            >
              &times;
            </button>
            <h5>Congratulations</h5>
            <div id="text"></div>
            <button
              type="button"
              class="btn btn-secondary"
              onclick="document.getElementById('popup').classList.toggle('active'); initBoard()"
            >
              Play Again
            </button>
          </div>
        </div>
      </div>
      <hr />
      <br />
      <footer class="fixed-bottom bg-light">
        <div class="m-2">
          <p>
            &copy; <%= new Date().getFullYear();%>
            <a href="https://krittimmanush.com" target="_blank"
              >Zahir</a
            >
          </p>
        </div>
      </footer>
    </div>
    <script>initBoard()</script>
  </body>
</html>
