<!DOCTYPE html>
<html lang="en">

<head>
    <title>Memory Game | Cerebrum</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script type="text/javascript" src="../public/app.js"></script>
    <style>
        #board {
            width: 500px;
            min-height: 500px;
            margin: 5%;
        }
        .tile {
            width: 140px;
            height: 140px;
            margin: 4px;
        }
        .icon{
            vertical-align: middle;
        }
        .tile:focus {
            outline: none;
            box-shadow: none;
        }
        .fa-star {
            color: orange;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">
                    <%= title %>
                </h1>
                <div class="row">
                    <div class="col-md-10">
                        <h3></h3>
                        <form class="form-inline">
                            <div class="form-group">
                                <select class="form-control" id="size" onchange="initBoard(this)">
                                    <option value="" disabled selected="selected">Select Grid</option>
                                    <option value="3">3 X 3</option>
                                    <option value="4">4 X 4</option>
                                    <option value="6">6 X 6</option>
                                    <option value="8">8 X 8</option>
                                </select>
                            </div>&nbsp;
                            <button type="button" id="btn_restart" class="btn btn-outline-info" onclick="startGame()" disabled>Restart</button>
                        </form>
                        <h5 class="m-2" id="timer">0 mins 0 secs</h5>
                    </div>
                    <div class="col-md-2">
                        <h5>User: <span id="user">
                                <%= user %>
                            </span></h5>
                        <h5>Best: <span>
                                <%= best_record %>
                            </span></h5>
                        <h5><span id="move">0</span> Moves | <span id="stars"><i class="fa fa-star"></i><i
                                    class="fa fa-star"></i><i class="fa fa-star"></i></span></h5>
                    </div>
                </div>
            </div>
            <div class="card-body bg-dark mx-auto" id="board">
                <!-- <% for(let i=0; i < 9; i++) { %>
                    <button class="tile btn btn-secondary" data="<%= i %>" id="show_<%= i %>"><i id="icon_<%= i %>"
                            class="d-none fa fa-play fa-2x"></i></button>
                    <% } %> -->
            </div>
        </div>
    </div>
</body>

</html>